body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #D6BD98;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #c6a574;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e8b76d;
}
